@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #9333ea;
  border-radius: 5px;
  transition: background-color 0.2s;
}

::-webkit-scrollbar-thumb:hover {
  background: #7e22ce;
}